profiles {
  standard {
    process.executor = 'local'
  }
  conda {
    conda.enabled = true
    process.conda = 'envs/ont-variants.yml'
    process.executor = 'local'
  }
}

process {
  errorStrategy = 'terminate'
  maxRetries = 1
  // You can override resources per process in named blocks if needed
}

params {
  // override via command line as needed
}