profiles {
  standard {
    process.executor = 'local'
    process.errorStrategy = 'retry'
    process.maxRetries = 1
    timeline.enabled = true
    report.enabled = true
    trace.enabled = true
    dag.enabled = true

    params.outdir = 'results'
  }

  conda {
    conda.enabled = true
    conda.autoActivate = true
    conda.createTimeout = '1h'
    conda.cacheDir = "$HOME/.conda_envs"
  }

  docker {
    docker.enabled = true
    docker.runOptions = '-u \\$(id -u):\\$(id -g)'
  }
}

process {
  withName: FASTQC { cpus = 2; memory = '2 GB' }
  withName: MULTIQC { cpus = 2; memory = '2 GB' }
  withName: HISAT2_BUILD_INDEX { cpus = 16; memory = '8 GB' }
  withName: HISAT2_ALIGN_SORT_INDEX { cpus = 16; memory = '16 GB' }
  withName: TRINITY_GENOME_GUIDED { cpus = 16; memory = '100 GB' }
  withName: TRANSDECODER { cpus = 8; memory = '16 GB' }
  withName: BUSCO_TRANSCRIPTOME { cpus = 16; memory = '32 GB' }
  withName: MAKEBLASTDB { cpus = 2; memory = '2 GB' }
  withName: BLASTX_ANNOTATION { cpus = 16; memory = '16 GB' }
  withName: FEATURECOUNTS { cpus = 16; memory = '16 GB' }
  withName: MAKE_METADATA { cpus = 1; memory = '512 MB' }
  withName: MAKE_QUANT_LIST { cpus = 1; memory = '512 MB' }
  withName: SALMON_INDEX { cpus = 16; memory = '16 GB' }
  withName: SALMON_QUANT { cpus = 16; memory = '16 GB' }
  withName: DESEQ2_TXIMPORT { cpus = 4; memory = '8 GB' }
}

workDir = 'work'
cleanup = false